:root {
    font-size: 14px;
    --lime: #32cd32;
    --message: var(--lime);
    --warn: #ff9900;
    --error: #ff0000;
    --info: #6699ff;
    --title: #9900cc;
    --key: #ffcc00;
    --value: #cccccc;
    --kv-sep: #262626;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

h1.wc-intialization {
    color: var(--lime);
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
    height: 4rem;
    line-height: 4rem;
    top: 50%;
    margin-top: -2rem;
    text-align: center;
    font-family: monospace;
}

h1.wc-title,
h1.wc-title-boxed-compact,
h1.wc-title-boxed-full-width{
    padding: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--title) !important;
}
h1.wc-title-boxed-compact,
h1.wc-title-boxed-full-width {
    border: 1px solid var(--title);
}

h1.wc-title-boxed-full-width{
    width: 100%;
}

div.wc-title-width-wrapper{
    display: flex;
    flex-direction: row;
}

.wc-wrp {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--lime);
    font-family: monospace;
    font-size: 1.35rem; 

    background-image: url('../assets/console_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}

.wc-console{
    flex-grow: 1;
    max-height: 97%;
    padding: .5rem;
    overflow-y: scroll;
}
.wc-input{    
    display: flex;
    flex-direction: row;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .5rem;
}

.wc-input-field{
    flex-grow: 2;
    border: none;   
    background-color: #000;
    color: var(--lime);
    outline: none;
    margin-left: .5rem;
    font-family: monospace;
    font-size: 1.1rem;
}

.wc-message-message {
    color: var(--message);
}

.wc-message-error {
    color: var(--error);
}

.wc-message-warn {
    color: var(--warn);
}

.wc-message-info {
    color: var(--info);
}

span.wc-key {
    color: var(--key);
}

span.wc-value {
    color: var(--value);
}

hr.wc-kv-sep {
    margin-top: .2rem;
    border-color: var(--kv-sep);
}